$small-screen: 576px; /* Using Bootstrap suggestions */

html {
    @media (min-width: $small-screen) {
        font-size: 16px;
    }
}

h1 {
    text-align: center;
    padding-top: .75em;
    padding-bottom: .75em;
    @media (min-width: $small-screen) {
        font-size: 5rem;
        padding-top: .75em;
        padding-bottom: .75em;
    }
}

p.description {
    border-bottom: 1px solid #444444;
    color: #444444;
    font-size: 1.5rem;
    padding-bottom: 1em;
    marging-bottom: 1em;
    @media (min-width: $small-screen) {
        font-size: 2rem;
        padding-bottom: 1em;
        margin-bottom: 1em;
    }
}

h2 {
    @media (min-width: $small-screen) {
        font-size: 3rem;
    }
}

body {
    font-family: serif;
    @media (min-width: $small-screen) {
        font-size: 1.5rem;
    }
}

#post-docs {
    border-bottom: 1px solid #444444;
    padding-bottom: 2rem;
}

.people .person {
    width: 25%;
    padding: 1% 5% 1% 5%;
    text-align: center;
    img {
        width: 100%;
    }
}

#logos img {
    width: 33%;
    padding: 4%;
}
